{% extends "lfs/base.html" %}
{% load url from future %}
{% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{# load reviews_tags #}
{% load cache %}
{% load share_widget %}

{% block section %}product{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs product %}
{% endblock %}

{% block content %}
 {% share_us_widget %}
    {{ product.static_block.html|safe }}
    <div id="product-inline" itemscope itemtype="http://data-vocabulary.org/Product">
        {{ product_inline }}
    </div>


    <script type="text/javascript">
        mediator.subscribe("document_ready", function() {
            $("#compare").click(function() {
                $.ajax({
                    url: "{% url 'lfs_comparison_add_product' product.id %}",
                    dataType: "json",
                    success: function(msg){
                        $("#compare").text("Сравнить");
                        $("#compare").attr("href", "{% url 'lfs_comparison' %}");
                    }
                });
            });
        });
    </script>
{% endblock %}
