{% load url from future %}
{% load i18n l10n lfs_tags sshop_tags %}
<h3>{% trans "Variants" %}</h3>
<table class="table table-bordered table-striped product-variants">
    <tr>
        <th>
            {% trans 'Name' %}
        </th>
        <th class="number">
            {% trans 'Price' %}
        </th>
        <th></th>
    </tr>
    {% for product_variant in variants %}
    {% if product.pk != product_variant.pk or product.is_product_with_variants %}
    <tr>
        <td class="variant-caption">
            <a href="{% url 'lfs_product' product_variant.slug %}">{{ product_variant.get_name }}</a>
            <span class="label-popover label {{ product.status.css_class }}" title="{{ product.status.name }}">{{ product.status.name }}</span>
        </td>
        <td class="number variant-price-td" nowrap="nowrap">
            {% if product_variant.get_for_sale %}
                <span class="for-sale-standard-price for-sale-standard-price-variants">
                    {% standard_price product_variant %}
                </span>
                {% for_sale_price product_variant %} 
            {% else %} 
                {% price product_variant %} 
            {% endif %}
        </td>
        <td>
        {% if product_variant.status.show_buy_button %}
            <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product_variant.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline" name="quantity" type="text" value="{{ product_variant.default_value }}" />
            <button class="btn btn-mini">{% trans "Add to cart" %}</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
