{% load i18n %}
<div class="cart-content">
    <div class="row-fluid">
        {% with amount=cart.get_amount_of_items %}
        {% if amount == 0 or not cart %}
        <div class="span12">
            <img src="{{ STATIC_URL }}img/empty-cart.png">
        </div>
        <div class="row-fluid">      
            <div class="span12">     
                <p>{% trans "Cart is empty." %}</p>      
            </div>
        </div>
        {% else %}
        <div class="span12">
           <a href="{% url lfs_checkout %}"> <img src="{{ STATIC_URL }}img/full-cart.png"></a>
        </div>    
        <div class="row-fluid">    
            <div class="span12">
                <a id="clear-cart" class="btn" >{% trans 'Очистить' %}</a>
            </div>
        </div> 
        {% endif %}
        {% endwith %}
    </div>
</div>
<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
