{% load i18n %}
{# Search form #}
<div class="search-block">
<form class="form-search header-search" id="search-form" action="{% url lfs_search %}" autocomplete="off">
    <input type="hidden" name="livesearch" value="1" />
    <div class="input-append">
        <div class="row-fluid">
            <div class="span10"><input id="search-input" name="q" autocomplete="off" data-url="{% url lfs_livesearch %}"  class="input-large search-query" type="text" value="{{ q }}" placeholder=" {% trans 'Search products...' %}"></div>
            <div class="span2 button-wrapper"><button id="submit-button" class="btn btn-primary" type="submit">{% trans 'Найти' %}</button></div>
        </div>
    </div>
</form>
<div class="livesearch-wrapper">
    <div id="livesearch-result" class="dropdown-menu"></div>
</div>
</div>
