{% extends "lfs/base.html" %}
{% load i18n %}

{% block section %}add-review {% endblock %}

{% block content %}
    <h2>{% trans 'Добавить отзыв' %} {% trans "for" %} {{ object.get_name }}</h2>

    {% if object.get_image.image %}
        <img class="image-left"
             src="{{ object.get_image.image.url_200x200 }}" />
    {% endif %}

    <br clear="all" />
    <hr>

    <form action="{% url reviews_add content_type_id content_id %}"
          method="post" class="form-vertical">
        {% csrf_token %}
            <fieldset>
                <label>
                    {{ form.user_name.label_tag }}
                </label>

                {% if form.user_name.errors %}
                    <div class="alert alert-error">
                        {{ form.user_name }}
                        {{ form.user_name.errors }}
                    </div>
                {% else %}
                        {{ form.user_name }}
                {% endif %}
            {% if request.user.is_anonymous %}
                <label>
                    {{ form.user_email.label_tag }}
                </label>

                {% if form.user_email.errors %}
                    <div class="error">
                        {{ form.user_email }}
                        {{ form.user_email.errors }}
                    </div>
                {% else %}
                        {{ form.user_email }}
                {% endif %}
            {% endif %}
            </fieldset>

        <label>{{ form.score.label_tag }}</label>
        <div class="star-rating-wrapper">
            {% if form.score.errors %}
                <div class="alert alert-error">
                    {{ form.score.errors }}
                </div>
            {% endif %}
            <ul class="star-rating">
                {% for score in scores %}
                    <li>
                        <a href="#"
                           class="rate {% if score.current %}current-rating{% endif %}"
                           title="{{ score.title }}"
                           data="{{ score.value }}"
                           style="z-index:{{ score.z_index }}; width:{{ score.width }}px">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
            <label>{{ form.comment.label_tag }}</label>

            {% if form.comment.errors %}
                <div class="alert alert-error">
                    {{ form.comment }}
                    {{ form.comment.errors }}
                </div>
            {% else %}
                <div>
                    {{ form.comment }}
                </div>
            {% endif %}

        <input type="hidden"
               name="score"
               id="id_score"
               value="{{ request.POST.score }}" />

        <input type="hidden"
               name="content_type_id"
               value="{{ content_type_id }}" />

        <input type="hidden"
               name="content_id"
               value="{{ content_id }}" />

        <div class="form-actions">
        {% if show_preview %}
            <input type="submit" class="btn btn-primary"
                   value="{% trans 'Preview' %}" />
        {% else %}
            <input type="submit" class="btn btn-primary"
                   value="{% trans 'Send' %}" />
        {% endif %}
        </div>

    </form>

{% endblock %}
