{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}
{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
            </div>
            <div class="span8">
                
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.get_name }}</a></div>
                {% show_product_id product %}
                {% property_value_icons product %}
                <div class="product-description">{{ product.get_short_description|safe }}</div>

                {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}

                {% if not product.is_product_with_variants %}
                <div class="product-statuses">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
                </div>
                <div class="product-form">
                {% if product.has_variants %}
                    {% if product.get_default_variant.id in request.session.comparison %}
                    <a href="{% url lfs_comparison %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% else %}
                    {% if product.id in request.session.comparison %}
                    <a href="{% url lfs_comparison %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% endif %}
                </div>
                {% endif %}
                {% if product.is_product_with_variants %}
                <div id="variants-{{ product.pk }}"></div>
                {% endif %}
            </div>
            <div class="span2">
            {% if product.is_product_with_variants %}
                <div class="product-price">
                <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                    {% cheapest_price product %}
                </span>
                </div>  
                <a href="{% url lfs_product_variants_for_category product.pk %}" class="btn btn-mini ajax-load" data-container="#variants-{{ product.pk }}">{% trans "All variants" %}</a>
            {% else %}

            {% if product.get_for_sale %}
                <div class="product-price discount-price">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>
                <li><div class="for-sale-price"><span>{% trans 'Instead' %}:</span> {% standard_price product %}</div></li>
                <li><div class="for-sale-standard-price"><span>{% trans 'You save' %}:</span> {% price_difference product %}</div></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %}</span>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline" name="quantity" type="text" value="{{ product.default_value }}" />
            <button class="btn btn-mini">{% trans "Add to cart" %}</button>
            </form>
            {% endif %}
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}
